@import url("code-theme-light.css") (prefers-color-scheme: light);
@import url("code-theme-dark.css") (prefers-color-scheme: dark);

body {
  font-family: Helvetica, sans-serif;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 50em;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background: {{ themes.dark.background_color }};
        color: {{ themes.dark.text_color }};
    }
    a {
        color: {{ themes.dark.link_color }};
    }
    footer {
        color: {{ themes.dark.footer_color }};
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: {{ themes.light.background_color }};
        color: {{ themes.light.text_color }};
    }
    a {
        color: {{ themes.light.link_color }};
    }
    footer {
        color: {{ themes.light.footer_color }};
    }
}

pre.code {
    font-size: 1rem;
    overflow-x: auto;
    padding: 0.5rem;
}

table {
    display: block;
    overflow-x: auto;
}

th {
    text-align: start;
}

hr {
  color: gray;
  width: 100%;
}

footer {
    padding-bottom: 1em;
}

blockquote {
  border-left: 10px solid;
  padding-inline-start: 1.5em;
  font-style: italic;
}

img.postimg {
    width: 100%;
    height: auto;
}

.footnote {
    font-size: 0.85em;
}

.copyright {
    float: right;
}
